- page_title _("Terminal for environment"), @environment.name
- add_page_specific_style 'page_bundles/terminal'
- content_for :page_specific_javascripts do
  = stylesheet_link_tag "xterm.css"

.top-area
  .row
    .col-sm-6
      %h1.page-title
        = _("Terminal for environment")
        = @environment.name

    .col-sm-6
      .nav-controls
        - if @environment.external_url.present?
          = link_to @environment.external_url, class: 'gl-button btn btn-default', target: '_blank', rel: 'noopener noreferrer nofollow' do
            = sprite_icon('external-link')
        = render 'projects/deployments/actions', deployment: @environment.last_deployment

.terminal-container{ class: container_class }
  #terminal.gl-mt-4{ data: { project_path: "#{terminal_project_environment_path(@project, @environment)}.ws" } }
